<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>수능 인강 강사 조회</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
  <h1 class="text-center mb-4">[[${memberCode}]]번 강사의 정보</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>강사 코드</th>
      <th>강사 이름</th>
      <th>런칭일</th>
      <th>구분 코드</th>
      <th>과목 정보</th>
      <th>수강생 수</th>
      <th>연락처</th>
      <th>소속 코드</th>
      <th>활동 상태</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${member.memberCode}"></td>
      <td th:text="${member.memberName}"></td>
      <td th:text="${member.launchDate}"></td>
      <td th:text="${member.divisionCode}"></td>
      <td th:text="${member.detailInfo}"></td>
      <td th:text="${member.studentQuantity}"></td>
      <td th:text="${member.contact}"></td>
      <td th:text="${member.teamCode}"></td>
      <td th:text="${member.activeStatus}"></td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" onclick="location.href='/'">메인화면으로 돌아가기</button>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
