<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>수능 인강 강사 정보 수정</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1>강사 정보 수정</h1>
    <h3>수정하려는 [[${memberCode}]] 번 강사님의 현재 정보입니다.</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">강사 코드</th>
            <th scope="col">강사 이름</th>
            <th scope="col">런칭일</th>
            <th scope="col">구분 코드</th>
            <th scope="col">과목 정보</th>
            <th scope="col">수강생 수</th>
            <th scope="col">연락처</th>
            <th scope="col">소속 코드</th>
            <th scope="col">활동 상태</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${modifyMember.memberCode}"></td>
            <td th:text="${modifyMember.memberName}"></td>
            <td th:text="${modifyMember.launchDate}"></td>
            <td th:text="${modifyMember.divisionCode}"></td>
            <td th:text="${modifyMember.detailInfo}"></td>
            <td th:text="${modifyMember.studentQuantity}"></td>
            <td th:text="${modifyMember.contact}"></td>
            <td th:text="${modifyMember.teamCode}"></td>
            <td th:text="${modifyMember.activeStatus}"></td>
        </tr>
        </tbody>
    </table>

    <hr>
    <br>
    <h3>수정할 정보를 입력해주세요</h3>
   <form action="/member/modify" method="post">
        <div class="form-group">
            <label for="memberCodeUpdate">수정할 강사코드:</label>
            <input type="text" class="form-control" name="memberCode" id="memberCodeUpdate" placeholder="수정할 강사 코드 입력">
        </div>
        <div class="form-group">
            <label for="memberNameUpdate">강사이름:</label>
            <input type="text" class="form-control" name="memberName" id="memberNameUpdate" placeholder="강사 이름 입력">
        </div>
        <div class="form-group">
            <label for="launchDateUpdate">런칭년도:</label>
            <input type="text" class="form-control" name="launchDate" id="launchDateUpdate" placeholder="런칭 년도 입력">
        </div>
        <div class="form-group">
            <label for="divisionCodeUpdate">구분코드:</label>
            <input type="text" class="form-control" name="divisionCode" id="divisionCodeUpdate" placeholder="구분 코드 입력">
        </div>
        <div class="form-group">
            <label for="detailInfoUpdate">과목정보:</label>
            <input type="text" class="form-control" name="detailInfo" id="detailInfoUpdate" placeholder="과목 정보 입력">
        </div>
        <div class="form-group">
            <label for="studentQuantityUpdate">수강생:</label>
            <input type="text" class="form-control" name="studentQuantity" id="studentQuantityUpdate" placeholder="수강생 수 입력">
        </div>
        <div class="form-group">
            <label for="contactUpdate">연락처:</label>
            <input type="tel" class="form-control" name="contact" id="contactUpdate" placeholder="연락처 입력">
        </div>
        <div class="form-group">
            <label for="teamCodeUpdate">소속코드:</label>
            <input type="text" class="form-control" name="teamCode" id="teamCodeUpdate" placeholder="소속 코드 입력">
        </div>
        <div class="form-group">
            <label for="activeStatusUpdate">활동상태:</label>
            <input type="text" class="form-control" name="activeStatus" id="activeStatusUpdate" placeholder="활동 상태 입력">
        </div>
        <button type="submit" class="btn btn-primary">강사정보 수정</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        fetch('/member/team')
            .then(res => res.json())
            .then(data => {
                const $teamCode = document.getElementById('teamCode');
                for (let index in data) {
                    const team = data[index];
                    const $option = document.createElement('option');
                    $option.value = team.teamCode;
                    $option.textContent = team.teamName;
                    $teamCode.appendChild($option);
                }
            });
    </script>
</body>
</html>