<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>수능 인강 강사프로그램</title>
</head>
<body>
<h1>수능인강강사프로그램</h1>
<ol>
  <li><button onclick="location.href='/member/list'">전체 강사 조회하기</button></li>
  <li><button onclick="location.href='/member/search'">강사코드로 조회하기</button></li>
  <li><button onclick="location.href='member/searchName'">이름으로 강사 조회하기</button></li>
  <li><button onclick="location.href='/member/regist'">신규 강사 등록하기</button></li>
  <li><button onclick="location.href='/member/searchModify'">기존 강사 수정하기</button></li>
  <li><button onclick="location.href='/member/delete'">기존 강사 삭제하기</button></li>
</ol>
</body>
</html>